/* Paramètre du corps par défaut */
body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-image:url(../image/background2.jpg);
    background-repeat:no-repeat;
    
}

/* Début de la barre menu */
header nav ul li a{
    text-decoration: none;
    color: white;
    font-family: arial black; 
    padding-top: 20px;
    padding-bottom: 20px; 
}

header nav ul li{
    padding: 0 10px 0 10px;
    padding-top: 20px;
    padding-bottom: 15px; 
    display: inline;
}

header nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.295);
    border-bottom: 5px solid grey;
    padding-bottom: 11.3px;
}

header nav ul{
    margin: 0 0 0 0;
    width: auto;
    background-color: black;
    list-style-type: none;
    text-align: left;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
}

/* Début de la barre menu */

/* Début de la zone de texte*/
.texte{

    margin-top: -50px;
    background-color: rgba(107, 97, 97, 0.6);
    border: 3px rgb(7, 7, 7) ridge;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    font-weight: 3600;
    font-size:xx-large;
    margin-top: 10%;
    padding-left:5px;
    padding-right:5px;
    color:white;

}