/* Paramètre du corps par défaut */
body{
    margin: 0 0 0 0; /* Margin set à 0 */
    padding: 0 0 0 0; /* Padding set à 0 */
    background-color: rgb(179, 255, 242); /* Couleur de fond */
}

/* Début de la barre menu */
header nav ul li a{
    text-decoration: none; /* Pas de décoration de text */
    color: white; /* Text en blanc */
    font-family: arial black; /* Couleur de font arial black */
    padding-top: 20px; /* Padding top à 20 px */
    padding-bottom: 20px; /* Padding bot à 20px */
}

header nav ul li{
    padding: 20px 10px 15px 10px; /* padding à 20px top, 10 right, 0 bot, 10 left */
    display: inline; /* Text sur une ligne */
}

header nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.295); /* couleur gris transparent */
    border-bottom: 5px solid grey; /* Couleur gris opaque */
    padding-bottom: 11.3px; /* Padding bot set à 11.3px */
}

header nav ul{
    margin: 0 0 0 0; /* margin set à 0 */
    width: auto; /* Taille toute la largeur */
    background-color: black; /* couleur de fond en noir, car oui, le noir est une couleur */
    list-style-type: none; /* Style de liste désactivé */
    text-align: left; /* Text aligné à gauche */
    height: 50px; /* taille de 50px */
    vertical-align: middle; /* Aligné au centre */
    line-height: 50px; /* espace entre les lignes de 50px */
}

/* Fin de la barre menu */
/* Début bannière */

img{
    background-attachment: fixed; /* Background fixé */
    background-repeat: no-repeat; /* Background pas de répétition */
    background-size: cover; /* Background en cover */
    background-position: center; /* Background centré */
    width: 100%; /* Taille prend toute la + */
    height: 100%; /* Taille en hauteur à 100% */
}

h1{
    position: absolute; /* La position n'influence pas le reste du code */
    color: rgb(0, 0, 0); /* couleur bleu turquoise foncé */
    border-bottom: 5px solid rgb(255, 0, 0); /* bordure top orange 5px */
    font-size: 100px; /* taille à 100 px */
    left: 50%; /* Espacement à gauche de 50% */
    margin: 270px 0 0 -190px; /* margin set à 270px top, 0px right; 0px bot, -190px left */
}
/* Fin bannière */

.explique{
    margin: 50px 80px 50px 80px; /* Set du margin */
    padding: 20px 30px 20px 30px; /* Set du padding */
    background-color: rgba(0, 0, 0, 0.342); /* Couleur de fond */
    font-size: 20px; /* Taille d'écriture */
    font-family: impact; /* Police d'écriture */

}