/* Paramètre du corps par défaut */
body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-repeat:no-repeat;/*background fixer*/
    background: linear-gradient(to bottom, black , #000000 16%, #002d84, #0031be, #1b12eb);/*dégradé du background*/  
}

html { height: 100%; }/*hauteur de la page définit à 100%*/

/* Début de la barre menu */
header nav ul li a{
    text-decoration: none;
    color: white;
    font-family: arial black; 
    padding-top: 20px;
    padding-bottom: 20px; 
}

header nav ul li{
    padding: 0 10px 0 10px;
    padding-top: 20px;
    padding-bottom: 15px; 
    display: inline;
    transition-duration: 0.2s;
}

header nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.295);
    border-bottom: 5px solid grey;
    padding-bottom: 11.3px;
    transition-duration: 0.2s;
}

header nav ul{
    margin: 0 0 0 0;
    width: auto;
    background-color: black;
    list-style-type: none;
    text-align: left;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
}

/* Coloration du texte Caché */

.text-color{
    color:rgb(0, 0, 0);
}


