/* Paramètre du corps par défaut */
body{
    margin: 0 0 0 0; /* Margin set à 0 */
    padding: 0 0 0 0; /* Padding set à 0 */
    background-color: rgb(179, 255, 242); /* couleur de fond bleu très clair */
}

/* Début de la barre menu */
header nav ul li a{
    text-decoration: none; /* Pas de décoration de text */
    color: white; /* Text en blanc */
    font-family: arial black; /* Couleur de font arial black */
    padding-top: 20px; /* Padding top à 20 px */
    padding-bottom: 20px; /* Padding bot à 20px */
}

header nav ul li{
    padding: 20px 10px 15px 10px; /* padding à 20px top, 10 right, 0 bot, 10 left */
    display: inline; /* Text sur une ligne */
}

header nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.295); /* couleur gris transparent */
    border-bottom: 5px solid grey; /* Couleur gris opaque */
    padding-bottom: 11.3px; /* Padding bot set à 11.3px */
}

header nav ul{
    margin: 0 0 0 0; /* margin set à 0 */
    width: auto; /* Taille toute la largeur */
    background-color: black; /* couleur de fond en noir, car oui, le noir est une couleur */
    list-style-type: none; /* Style de liste désactivé */
    text-align: left; /* Text aligné à gauche */
    height: 50px; /* taille de 50px */
    vertical-align: middle; /* Aligné au centre */
    line-height: 50px; /* espace entre les lignes de 50px */
}

/* Fin de la barre menu */

/* Titre de la page */

h2{border: 6px solid black;
    margin-right: 40%;
    margin-left:40%;
    padding: 2%;
    text-align:center;
    font-size: 270%;


}

/* texte */

.texte{
    margin: 50px 80px 50px 80px;
    padding: 20px 30px 20px 30px;
    background-color: rgba(0, 0, 0, 0.342);
    font-size: 20px;
    font-family: impact;


}

p{  color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.342); /* Couleur de fond */
    margin-right:67%;}

h3{ text-decoration: underline;}
   