/* Paramètre du corps par défaut */
body{
    margin: 0 0 0 0; /* Margin set à 0 */
    padding: 0 0 0 0; /* Padding set à 0 */
    background-repeat:no-repeat;/*background fixer*/
    background: linear-gradient(to bottom, black , #000000 16%, #002d84, #0031be, #1b12eb);/*dégradé du background*/  
}

html { height: 100%; }/*hauteur de la page définit à 100%*/

/* Début de la barre menu */
header nav ul li a{
    text-decoration: none; /* Pas de décoration de text */
    color: white; /* Text en blanc */
    font-family: arial black; /* Couleur de font arial black */
    padding-top: 20px; /* Padding top à 20 px */
    padding-bottom: 20px; /* Padding bot à 20px */
}

header nav ul li{
    padding: 20px 10px 15px 10px; /* padding à 20px top, 10 right, 0 bot, 10 left */
    display: inline; /* Text sur une ligne */
}

header nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.295); /* couleur gris transparent */
    border-bottom: 5px solid grey; /* Couleur gris opaque */
    padding-bottom: 11.3px; /* Padding bot set à 11.3px */
}

header nav ul{
    margin: 0 0 0 0; /* margin set à 0 */
    width: auto; /* Taille toute la largeur */
    background-color: black; /* couleur de fond en noir, car oui, le noir est une couleur */
    list-style-type: none; /* Style de liste désactivé */
    text-align: left; /* Text aligné à gauche */
    height: 50px; /* taille de 50px */
    vertical-align: middle; /* Aligné au centre */
    line-height: 50px; /* espace entre les lignes de 50px */
}

/* Fin de la barre menu */

img{
    margin-left: 37%;
    margin-right:50%;
}

p{
    text-align: center;
    font-size: 150%;
    color:white;
}